<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>test app</title>
 </head>
 <body>
     <div id="choose_folder">
        <form id="encrypt_form">
            <input type="text" id="encrypt_input"><br><br>
            <input type="text" id="encrypt_pass"><br><br>
            <input type="button" id="encrypt" value="Encrypt"><br><br>
            <div id="encrypted_label"></div><br><br>
        </form>
        <form id="decrypt_form">
            <input type="text" id="decrypt_input"><br><br>
            <input type="text" id="decrypt_pass"><br><br>
            <input type="button" id="decrypt" value="Decrypt"><br><br>
            <div id="decrypted_label"></div><br><br>
        </form>
     </div>
 </body>
 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 <script src="/static/manage.js"></script>
</html>